@import url('https://fonts.googleapis.com/css2?family=Pathway+Gothic+One&display=swap');

* {
  margin: 0;
  padding: 0;
  line-height: inherit;
}

body {
  font-family: "Roboto  ", sans-serif;
  margin-right: auto;
  margin-left: auto;
  max-width: 1499px; 
}

header {
  padding: 0.4em;
  display: grid;
  align-items: center;
  grid-template-columns: 10% 45% auto;
  justify-content: space-around;
}

header > div.header-logo {
  margin-left: 2em;
  display: flex;
  align-items: center;
}

header > div.header-logo > i {
  color: gray;
  font-size: 18px;
}

header > div.header-logo > span {
  margin-left: 1.2em;
  display: flex;
  align-items: center;
}

header > div.header-logo > span > i {
  color: red;
  font-size: 24px;
}

header > div.header-logo > span > p {
  font-family: 'Pathway Gothic One', sans-serif;
  color: black;
  font-weight: 600;
  margin-left: 8px;
  font-size: 22px;
}

header > div.header-search > div.search-event {
  align-items: center;
  display: flex;
}

header > div.header-search > div.search-event > input[type=text].input-search {
  padding: 0.6em;
  width: 100%;
  border: 0.8px solid;
  border-color: rgba(128, 128, 128, 0.39);
  font-family: inherit;
  font-weight: 600;
}

header > div.header-search > div.search-event > input[type=text].input-search::placeholder {
  font-weight: bold;
}

header > div.header-search > div.search-event > input[type=text].input-search:focus {
  outline: 0 !important;
}

header > div.header-search > div.search-event > button.input-search-button {
  padding: 0.8em;
  width: 10%;
  border: none;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  color: gray;
}

header > div.header-search > div.search-event > button.input-search-button:hover {
  filter: brightness(90%);
  color: black;
  box-shadow: 0.4px 1.6px 1px rgba(0, 0, 0, 0.160);
}

header > div.header-search > div.search-event > button.input-search-button:focus {
  outline: 0 !important;
}

header > div.header-options {
  margin-right: auto;
}

header > div.header-options > ul {
  list-style: none;
  display: flex;
  align-items: center;
}

header > div.header-options > ul > li {
  margin-right: 1em;
}

header > div.header-options > ul > li > img {
  width: 40px;
  border-radius: 100px;
}

.application {
  display: grid;
  grid-template-columns: 18% auto;
}

.tags-layer {
  margin-top: 0.6em;
  border-top: gray solid;
  border-width: 1px;
  padding-top: 2em;
  display: block;
  align-items: center;
}

.tag {
  color: #292929;
  background-color: rgb(241, 241, 241);
  padding: 0.4em;
  padding-right: 0.6em;
  padding-left: 0.6em;
  margin-right: 1em;
  cursor: pointer;
  border: 0.2px solid;
  border-color: rgb(189, 189, 189);
  border-radius: 100px;
  transition: all 0.2s ease-in-out;
}

.tag:hover {
  filter: brightness(96%);
}

.video-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  margin-top: 3em;
}

.video-card {
  width: 90%;
  margin-right: 1em;
  margin-bottom: 2em;
}

.video-thumbnail {
  width: 100%;
}

.channel-profile {
  width: 46px;
  border-radius: 100%;
}

.video-details-layer {
  display: flex;
  align-items: center;
}

.video-title {
  font-weight: 600;
  margin-left: 6px;
}

.channel-name, .watching-count {
  color: gray;
  margin-top: auto;
  margin-left: calc(12px * 4.30);
}